<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
    <div class="container">
      <div class="row">
        <div class="titulo col-12">
          <h1>
            <%= title %>
          </h1>
        </div>
        
        <p>Welcome to <%= title %>
        </p>
      </div>
    </div>
      
      <%- include("partials/footer") %>
        <%- include("partials/scripts") %>
  </body>

</html>